:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #050514;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background: var(--bg);
}

canvas {
  display: block;
}

#app {
  background: var(--bg);
}
